.box{width: 100%;}

.bg{width: 100%;height: 810px;background: url(../html/imgs/index3/brandBg.jpg) no-repeat center;}


.bg>.six{width: 1200px;height: 700px;background:url(../html/imgs/index3/brandLine.png) no-repeat center center;;margin: 0 auto;position: relative;}
.bg>.six>.d1{width: 153px;height: 133px;position: absolute;top: 47%;left: 40.5%;background: url(../html/imgs/index3/brandIconBig.png) no-repeat center;}
/* 一级图标 */
.bg>.six>.d1>.d1-1{width: 100%;height:100%;background:url(../html/imgs/index3/brandLogo.png) no-repeat center;}
/* 二级图标 */
.bg>.six>.erji{width: 103px;height: 89px;position: absolute;}
/* 三级图标 */
.bg>.six>.erji>div{width: 79px;height: 68px;background: url(../html/imgs/index3/brandIconSmall.png) no-repeat center;position: absolute;transition: all .3s ease;}
.bg>.six>.erji>div>div{width: 100%;height: 100%;transition: all .5s ease;}

.greens-1{font-size: 15px;color: white;height: 40px;font-weight: 900;text-align: center;width: 75px;margin: 24.5px auto;display: block;}

.bg>.six>.greens{top: 35%;left: 35%;background:url(../html/imgs/index3/brandIconMedia1.png) no-repeat center;}
/* 三级图标变换图标 */
.bg>.six>.greens>div:hover{background:url(../html/imgs/index3/brandIconSmall1_h.png) no-repeat center;}
/* 三级图标 */
.bg>.six>.greens>.greens1:nth-child(2){left: -179.61165%;top: 106.741573%;}
.bg>.six>.greens>.greens1:nth-child(2)>div{background: url(../html/imgs/index3/greens1-1.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(2)>div:hover{background: url(../html/imgs/index3/greens1-1H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(3){left: -103.883495%;top: 61.7977528%;}
.bg>.six>.greens>.greens1:nth-child(3)>div{background: url(../html/imgs/index3/greens1-2.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(3)>div:hover{background: url(../html/imgs/index3/greens1-2H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(4){left: -174.757282%;top: 10.4831461%;}
.bg>.six>.greens>.greens1:nth-child(4)>div{background: url(../html/imgs/index3/greens1-3.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(4)>div:hover{background: url(../html/imgs/index3/greens1-3H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(5){left: -177.669903%;top: -80.8988764%;}
.bg>.six>.greens>.greens1:nth-child(5)>div{background: url(../html/imgs/index3/greens1-4.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(5)>div:hover{background: url(../html/imgs/index3/greens1-4H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(6){left: -103.883495%;top: -33.7078652%;}
.bg>.six>.greens>.greens1:nth-child(6)>div{background: url(../html/imgs/index3/greens1-5.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(6)>div:hover{background: url(../html/imgs/index3/greens1-5H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(7){left: -106.796117%;top: -129.213483%;}
.bg>.six>.greens>.greens1:nth-child(7)>div{background: url(../html/imgs/index3/greens1-6.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(7)>div:hover{background: url(../html/imgs/index3/greens1-6H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(8){left: -36.8932039%;top: -84.2696629%;}
.bg>.six>.greens>.greens1:nth-child(8)>div{background: url(../html/imgs/index3/greens1-7.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(8)>div:hover{background: url(../html/imgs/index3/greens1-7H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(9){left: -24.8640777%;top: -176.404494%;}
.bg>.six>.greens>.greens1:nth-child(9)>div{background: url(../html/imgs/index3/greens1-8.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(9)>div:hover{background: url(../html/imgs/index3/greens1-8H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(10){left: 46.0679612%;top: -130.337079%;}
.bg>.six>.greens>.greens1:nth-child(10)>div{background: url(../html/imgs/index3/greens1-9.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(10)>div:hover{background: url(../html/imgs/index3/greens1-9H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(11){left: -247.572816%;top: -32.58422697%;}
.bg>.six>.greens>.greens1:nth-child(11)>div{background: url(../html/imgs/index3/greens1-10.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(11)>div:hover{background: url(../html/imgs/index3/greens1-10H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(12){left: -247.572816%;top: 58.4269663%;}
.bg>.six>.greens>.greens1:nth-child(12)>div{background: url(../html/imgs/index3/greens1-11.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(12)>div:hover{background: url(../html/imgs/index3/greens1-11H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(13){left: -96.796117%;top: -219.101124%;}
.bg>.six>.greens>.greens1:nth-child(13)>div{background: url(../html/imgs/index3/greens1-12.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(13)>div:hover{background: url(../html/imgs/index3/greens1-12H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(14){left: -177.669903%;top: -176.404494%;}
.bg>.six>.greens>.greens1:nth-child(14)>div{background: url(../html/imgs/index3/greens1-13.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(14)>div:hover{background: url(../html/imgs/index3/greens1-13H.png) no-repeat center;}

.bg>.six>.greens>.greens1:nth-child(15){left: -247.572816%;top: -129.213483%;}
.bg>.six>.greens>.greens1:nth-child(15)>div{background: url(../html/imgs/index3/greens1-14.png) no-repeat center;}
.bg>.six>.greens>.greens1:nth-child(15)>div:hover{background: url(../html/imgs/index3/greens1-14H.png) no-repeat center;}




.bg>.six>.oranges{left: 49.166666667%;top: 32.8571429%;background:url(../html/imgs/index3/brandIconMedia2.png) no-repeat center;}
/* 三级图标变换图标 */
.bg>.six>.oranges>div:hover{background:url(../html/imgs/index3/brandIconSmall2_h.png) no-repeat center;}
/* 三级图标 */
.bg>.six>.oranges>.oranges1:nth-child(2){left: 9.70873786%;top: -95.505618%;}
.bg>.six>.oranges>.oranges1:nth-child(2)>div{background: url(../html/imgs/index3/oranges1-1.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(2)>div:hover{background: url(../html/imgs/index3/oranges1-1H.png) no-repeat center;}

.bg>.six>.oranges>.oranges1:nth-child(3){left: 9.70873786%;top: -186.516854%;}
.bg>.six>.oranges>.oranges1:nth-child(3)>div{background: url(../html/imgs/index3/oranges1-2.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(3)>div:hover{background: url(../html/imgs/index3/oranges1-2H.png) no-repeat center;}

.bg>.six>.oranges>.oranges1:nth-child(4){left: 80.5825243%;top: -49.4382022%;}
.bg>.six>.oranges>.oranges1:nth-child(4)>div{background: url(../html/imgs/index3/oranges1-3.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(4)>div:hover{background: url(../html/imgs/index3/oranges1-3H.png) no-repeat center;}

.bg>.six>.oranges>.oranges1:nth-child(5){left: 79.6116505%;top: -142.686629%;}
.bg>.six>.oranges>.oranges1:nth-child(5)>div{background: url(../html/imgs/index3/oranges1-4.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(5)>div:hover{background: url(../html/imgs/index3/oranges1-4H.png) no-repeat center;}

.bg>.six>.oranges>.oranges1:nth-child(6){left: 149.514563%;top: -96.6292135%;}
.bg>.six>.oranges>.oranges1:nth-child(6)>div{background: url(../html/imgs/index3/oranges1-5.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(6)>div:hover{background: url(../html/imgs/index3/oranges1-5H.png) no-repeat center;}

.bg>.six>.oranges>.oranges1:nth-child(7){left: 90.5242718%;top: 44.9438202%;}
.bg>.six>.oranges>.oranges1:nth-child(7)>div{background: url(../html/imgs/index3/oranges1-6.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(7)>div:hover{background: url(../html/imgs/index3/oranges1-6H.png) no-repeat center;}

.bg>.six>.oranges>.oranges1:nth-child(8){left: 150.485437%;top: -5.61797753%;}
.bg>.six>.oranges>.oranges1:nth-child(8)>div{background: url(../html/imgs/index3/oranges1-7.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(8)>div:hover{background: url(../html/imgs/index3/oranges1-7H.png) no-repeat center;}

.bg>.six>.oranges>.oranges1:nth-child(9){left: 219.417476%;top: -52.8089888%;}
.bg>.six>.oranges>.oranges1:nth-child(9)>div{background: url(../html/imgs/index3/oranges1-8.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(9)>div:hover{background: url(../html/imgs/index3/oranges1-8H.png) no-repeat center;}

.bg>.six>.oranges>.oranges1:nth-child(10){left: 79.6116505%;top: -235.955056%;}
.bg>.six>.oranges>.oranges1:nth-child(10)>div{background: url(../html/imgs/index3/oranges1-9.png) no-repeat center;}
.bg>.six>.oranges>.oranges1:nth-child(10)>div:hover{background: url(../html/imgs/index3/oranges1-9H.png) no-repeat center;}




.bg>.six>.blues{  left: 54.16666667%;top: 52.8571429%;background:url(../html/imgs/index3/brandIconMedia3.png) no-repeat center;}
/* 三级图标变换图标 */
.bg>.six>.blues>div:hover{background:url(../html/imgs/index3/brandIconSmall3_h.png) no-repeat center;}
/* 三级图标 */
.bg>.six>.blues>.blues1:nth-child(2){left: 90.2912621%;top: -41.5730337%;}
.bg>.six>.blues>.blues1:nth-child(2)>div{background: url(../html/imgs/index3/blues1-1.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(2)>div:hover{background: url(../html/imgs/index3/blues1-1H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(3){left: 91.2621359%;top: 52.80898888%;}
.bg>.six>.blues>.blues1:nth-child(3)>div{background: url(../html/imgs/index3/blues1-2.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(3)>div:hover{background: url(../html/imgs/index3/blues1-2H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(4){left: 161.165049%;top: 4.49438202%;}
.bg>.six>.blues>.blues1:nth-child(4)>div{background: url(../html/imgs/index3/blues1-3.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(4)>div:hover{background: url(../html/imgs/index3/blues1-3H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(5){left: 161.165049%;top: -88.7640449%;}
.bg>.six>.blues>.blues1:nth-child(5)>div{background: url(../html/imgs/index3/blues1-4.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(5)>div:hover{background: url(../html/imgs/index3/blues1-4H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(6){left: 161.165049%;top: 100%;}
.bg>.six>.blues>.blues1:nth-child(6)>div{background: url(../html/imgs/index3/blues1-5.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(6)>div:hover{background: url(../html/imgs/index3/blues1-5H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(7){left: 21.3592233%;top: 102.247191%;}
.bg>.six>.blues>.blues1:nth-child(7)>div{background: url(../html/imgs/index3/blues1-6.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(7)>div:hover{background: url(../html/imgs/index3/blues1-6H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(8){left: 91.2621359%;top: 148.314607%;}
.bg>.six>.blues>.blues1:nth-child(8)>div{background: url(../html/imgs/index3/blues1-7.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(8)>div:hover{background: url(../html/imgs/index3/blues1-7H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(9){left: 21.3592233%;top: 196.629213%;}
.bg>.six>.blues>.blues1:nth-child(9)>div{background: url(../html/imgs/index3/blues1-8.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(9)>div:hover{background: url(../html/imgs/index3/blues1-8H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(10){left: 231.067961%;top: -41.5730337%;}
.bg>.six>.blues>.blues1:nth-child(10)>div{background: url(../html/imgs/index3/blues1-9.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(10)>div:hover{background: url(../html/imgs/index3/blues1-9H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(11){left: 231.067961%;top: 52.80898888%;}
.bg>.six>.blues>.blues1:nth-child(11)>div{background: url(../html/imgs/index3/blues1-10.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(11)>div:hover{background: url(../html/imgs/index3/blues1-10H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(12){left: 231.067961%;top: 148.314607%;}
.bg>.six>.blues>.blues1:nth-child(12)>div{background: url(../html/imgs/index3/blues1-11.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(12)>div:hover{background: url(../html/imgs/index3/blues1-11H.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(13){left: 161.165049%;top: 196.629213%;}
.bg>.six>.blues>.blues1:nth-child(13)>div{background: url(../html/imgs/index3/blues1-12.png) no-repeat center;}
.bg>.six>.blues>.blues1:nth-child(13)>div:hover{background: url(../html/imgs/index3/blues1-12H.png) no-repeat center;}





.bg>.six>.reds{left: 34.75%;top: 66.1428571%;background:url(../html/imgs/index3/brandIconMedia4.png) no-repeat center;}
/* 三级图标变换图标 */
.bg>.six>.reds>div:hover{background:url(../html/imgs/index3/brandIconSmall4_h.png) no-repeat center;}
/* 三级图标 */
.bg>.six>.reds>.reds1:nth-child(2){left: 91.2621359%;top: 65.1685393%;}
.bg>.six>.reds>.reds1:nth-child(2)>div{background: url(../html/imgs/index3/reds1-1.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(2)>div:hover{background: url(../html/imgs/index3/reds1-1H.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(3){left: 9.38835%;top: 117.977528%;}
.bg>.six>.reds>.reds1:nth-child(3)>div{background: url(../html/imgs/index3/reds1-2.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(3)>div:hover{background: url(../html/imgs/index3/reds1-2H.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(4){left: -57.485437%;top: 63.662921%;}
.bg>.six>.reds>.reds1:nth-child(4)>div{background: url(../html/imgs/index3/reds1-3.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(4)>div:hover{background: url(../html/imgs/index3/reds1-3H.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(5){left: -61.223301%;top: -26.9662921%;}
.bg>.six>.reds>.reds1:nth-child(5)>div{background: url(../html/imgs/index3/reds1-4.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(5)>div:hover{background: url(../html/imgs/index3/reds1-4H.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(6){left: -126.213592%;top: 20.2247191%;}
.bg>.six>.reds>.reds1:nth-child(6)>div{background: url(../html/imgs/index3/reds1-5.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(6)>div:hover{background: url(../html/imgs/index3/reds1-5H.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(7){left: -124.271845%;top: 111.235955%;}
.bg>.six>.reds>.reds1:nth-child(7)>div{background: url(../html/imgs/index3/reds1-6.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(7)>div:hover{background: url(../html/imgs/index3/reds1-6H.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(8){left: -58.223301%;top: 156.92233%;}
.bg>.six>.reds>.reds1:nth-child(8)>div{background: url(../html/imgs/index3/reds1-7.png) no-repeat center;}
.bg>.six>.reds>.reds1:nth-child(8)>div:hover{background: url(../html/imgs/index3/reds1-7H.png) no-repeat center;}


































/* <!-- 产品分类 --> */
.bg>.nei{width: 100%;height: 110px;background:rgba(0,0,0,.5);}
.bg>.nei>ul{width:1205px;height:100%;padding: 0 10.3%;}
.bg>.nei>ul>li{float: left;width: 200px;shape-margin: 69px;text-align: center;color: white;padding: 20px 0;position: relative;transition: all .5s ease;}
.bg>.nei>ul>li>span{display: block;width: 100%;height: 69px;position: absolute;top: 20px;left: 0px;border-right: 1px solid rgba(255,255,255,.2);}
.bg>.nei>ul>li:hover{background: #57C282;}
.bg>.nei>ul>li>i{display: block;width: 200px;height: 35px;margin-bottom:15px ;}
.bg>.nei>ul>li:nth-child(1)>i{background: url(../html/imgs/index3/jk.png) no-repeat center;}
.bg>.nei>ul>li:nth-child(2)>i{background: url(../html/imgs/index3/yp.png) no-repeat center;}
.bg>.nei>ul>li:nth-child(3)>i{background: url(../html/imgs/index3/yl.png) no-repeat center;}
.bg>.nei>ul>li:nth-child(4)>i{background: url(../html/imgs/index3/zy.png) no-repeat center;}
.bg>.nei>ul>li:nth-child(5)>i{background: url(../html/imgs/index3/cp.png) no-repeat center;}
.bg>.nei>ul>li:nth-child(6)>i{background: url(../html/imgs/index3/yy.png) no-repeat center;}














