*{margin: 0;padding: 0; 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;}
li{list-style: none;}
a{text-decoration: none;}
body{background: #f3f3f3;}

/* 隐藏类名 */
.dh{display: none;}



/* 空白盒子 */
.back5{widt:100%;height: 50px;}
.back6{widt:100%;height: 110px;}
.back7{widt:100%;height: 36px;}
.back8{widt:100%;height: 80px;background: white;}
.back9{widt:100%;height: 30px;background: white;}

.box{width: 100%;}
/* 上部分 */
.box>.ToTop{width: 100%;height: 531px;background:white url(../html/imgs/index6/intoTopBg.png) no-repeat center top;padding: 30px 0 0 0 ;}
/* 大图 */
.box>.ToTop>.bigTu{width: 100%;height:100%;}
/* 小点 */
.box>.ToTop>.bigTu>.quan{width: 897.8px;height: 511px;margin: 0 auto;background: url(../html/imgs/index6/activeBg.png) no-repeat center/100% 100%;position: relative;}
.box>.ToTop>.bigTu>.quan>span{display: block;float: left;width: 209px;height: 187px;background-color: red;position: absolute;}
.box>.ToTop>.bigTu>.quan>span:nth-child(1){left: 40px;top: 0%;background: url(../html/imgs/index6/act1.png) no-repeat left bottom;}
.box>.ToTop>.bigTu>.quan>span:nth-child(2){left: 44%;top: 0%;background: url(../html/imgs/index6/act2.png) no-repeat left bottom;}
.box>.ToTop>.bigTu>.quan>span:nth-child(3){right: -3%; top: 0%;background: url(../html/imgs/index6/act3.png) no-repeat left bottom;}
.box>.ToTop>.bigTu>.quan>span:nth-child(4){right: 13px;top: 33%;z-index: 3;background: url(../html/imgs/index6/act6.png) no-repeat left bottom;}
.box>.ToTop>.bigTu>.quan>span:nth-child(5){left: 50px;bottom: 90px;background: url(../html/imgs/index6/act5.png) no-repeat left bottom;}
.box>.ToTop>.bigTu>.quan>span:nth-child(6){left: 35%;top: 36.6032211%; z-index: 3;background: url(../html/imgs/index6/act4.png) no-repeat left bottom;}


/* 导航栏 用于补位置*/
div.daohang{width: 100%;height: 190px;position: relative;}

/* 导航栏本体 */
div.daohang>.ben{height:190px;width:1200px;background:url(../html/imgs/index6/dhbg.jpg) no-repeat center;position: absolute;top: 0px;left: 0px;padding: 0 10.5%;z-index: 99;}

div.daohang>.ben>.Left{width: 254px;height: 100px;float: left;padding: 45px 0 45px 205px;background: url(../html/imgs/index6/activeLogo3.png) no-repeat left center;}
div.daohang>.ben>.Left>h6{width: 100%;height: 20px;font-size: 14px;color: white;}
div.daohang>.ben>.Left>div{width: 100%;height: 60px;font-size: 44px;color: white;}

div.daohang>.ben>ul{height: 100%;float: left;}
div.daohang>.ben>ul>li{float: left;width:145px;height: 80px;padding: 55px 0;}
div.daohang>.ben>ul>li.styles1{background: #92adf3;}
div.daohang>.ben>ul>li:hover{background: #92adf3;}

div.daohang>.ben>ul>li>div{width: 100%;height: 45px;}
div.daohang>.ben>ul>li:nth-child(1)>div{background: url(../html/imgs/index6/dh1.png) no-repeat center;}
div.daohang>.ben>ul>li:nth-child(2)>div{background: url(../html/imgs/index6/dh2.png) no-repeat center;}
div.daohang>.ben>ul>li:nth-child(3)>div{background: url(../html/imgs/index6/dh3.png) no-repeat center;}
div.daohang>.ben>ul>li:nth-child(4)>div{background: url(../html/imgs/index6/dh4.png) no-repeat center;}
div.daohang>.ben>ul>li:nth-child(5)>div{background: url(../html/imgs/index6/dh5.png) no-repeat center;}

div.daohang>.ben>ul>li>p{width: 100%;height: 20px;padding: 15px 0 0 0;text-align: center;color: white;}



div.lbt{width: 100%;padding-top: 60px;background:#f3f3f3;}
div.lbt>.bg1{width: 100%;height: 90px;background: url(../html/imgs/index6/clom4.png) no-repeat center;}
/* 轮播图 */

/* 轮播图内容 */
div.lbt>.lbtBen{width:1220px;height: 490px;margin: 0 auto;position: relative;}
/* 左边图片*/
div.lbt>.lbtBen>.lbtL{width: 580px;height: 410px;float: left;background: powderblue;margin-top: 30px;overflow: hidden;margin-left: 30px;}
div.lbt>.lbtBen>.lbtL>ul{width: 3480px;height: 410px;position: relative;}
div.lbt>.lbtBen>.lbtL>ul>li{float: left;width: 580px;height: 410px;position: absolute;top: 0;}
div.lbt>.lbtBen>.lbtL>ul>li>img{width: 100%;height: 100%;}
/* 右边文字 */
div.lbt>.lbtBen>.lbtR{width: 530px;height: 350px;float: right;background: url(../html/imgs/index6/textbg.jpg) no-repeat center;padding: 70px 40px;}
div.lbt>.lbtBen>.lbtR>div{width: 100%;height: 100%;overflow: hidden;}
div.lbt>.lbtBen>.lbtR>div>ul{width:530px;height: 350px;position: relative;}
div.lbt>.lbtBen>.lbtR>div>ul>li{width: 530px;height: 100%;float: left;position: absolute;top: 0px;}
div.lbt>.lbtBen>.lbtR>div>ul>li>h2{width: 100%;height:30px;font-size: 24px;color: white;line-height: 24px;}
div.lbt>.lbtBen>.lbtR>div>ul>li>p{padding: 0 40px 0 0;font-size: 14px;color: white;line-height: 28px;overflow: auto;height: 224px;}
/* 小圆点 */
div.lbt>.lbtBen>ul.yuan{width:102px;height: 9px;position: absolute;left: 50%;bottom: -40px;margin-left: -51px;}
div.lbt>.lbtBen>ul.yuan>li{width: 9px;height: 9px;border-radius: 10px;margin: 0 4px;background: #000;float: left;}
div.lbt>.lbtBen>ul.yuan>li.X{background: orange;}

/* 按钮 */
div.lbt>.lbtBen>div.but{width: 90px;height: 90px;background: #7f93ca url(../html/imgs/index6/newsBt.png) no-repeat center;position: absolute;top: 50%;left: 0px;margin-top: -45px;cursor: pointer;}


/* 底部信息 */
div.footer{width: 100%;height: 60px;padding: 30px 0;background:#313131;}
div.footer>p{color: #999;font-size: 14px;text-align: center;}
div.footer>p>span:hover{color: white;}
div.footer>p>i{background: url(../html/imgs/index6/beian.png) no-repeat center;display: inline-block;width: 20px;height: 20px;}
div.footer>p>b{background: url(../html/imgs/index6/pic.gif) no-repeat center;display: inline-block;width: 50px;height: 12px;}



/* 报名 */
.baomin{width: 862px;height: 381px;margin: 0 auto;}
.baomin>div{width: 385px;height:281px;float: left; display: inline;margin: 0px 23px;overflow: hidden;padding-top: 100px;position: relative;}
.baomin>div>span{width: 100%;height: 210px;overflow: hidden;position: absolute;left: 0px;top: 0px;display: block;}
.baomin>div:nth-child(1)>span{background: url(../html/imgs/index6/five.png) no-repeat center;}
.baomin>div:nth-child(2)>span{background: url(../html/imgs/index6/moreFive.png) no-repeat center;}


.baomin>div>div{overflow: hidden;line-height: 30px;font-size: 26px;color: #333;width: 100%;margin-top: 110px;text-align: center;}
.baomin>div>i{display: block;height: 30px;line-height: 30px;font-size: 16px;color: #999;overflow: hidden;text-align: center;font-style: inherit;margin-bottom: 20px;}
.baomin>div>b{display: block;width: 137px;height: 37px;margin: 0 auto;color: #ecac01;text-align: center;border: 1px solid #ecac01;border-radius: 10px;line-height: 37px;transition: all .5s ease;}
.baomin>div>b:hover{background:#ecac01;color: white;}



/* 活动介绍 */
div.jieshao{width: 1200px;height: 1035px;margin:  0 auto;}
/* 轮播图图片 */
div.jieshao>.lbtImgs{width: 800px;height: 450px;margin: 0 auto;position: relative;}
div.jieshao>.lbtImgs>div{width: 100%;height: 100%;overflow: hidden;}
div.jieshao>.lbtImgs>div>ul{width: 500%;height: 100%;}
div.jieshao>.lbtImgs>div>ul>li{width: 20%;height: 100%;float: left;background: url(../html/imgs/index6/lbt2-1.jpg) no-repeat center/100% 100%;}
/* 轮播图按钮 */
div.jieshao>.lbtImgs>span{width: 30%;height: 100%;position:absolute;top: 0;cursor: pointer;}
div.jieshao>.lbtImgs>span:nth-child(2){left: 0px;}
div.jieshao>.lbtImgs>span:nth-child(3){right: 0px;}

div.jieshao>.lbtImgs>span>i{display: none;width: 24px;height: 43px;position: absolute;top: 50%;margin-top:-21.5px;}

div.jieshao>.lbtImgs>span:nth-child(2)>i{background: url(../html/imgs/index6/article_icon.png) no-repeat 0px -50px;left: 0px;}
div.jieshao>.lbtImgs>span:nth-child(3)>i{background: url(../html/imgs/index6/article_icon.png) no-repeat -30px -50px;right: 0px;}
div.jieshao>.lbtImgs>span:hover>i{display: block;}

/* 小轮播图 */
.lbtMin{width: 800px;height: 60px;margin: 20px auto;position: relative;}
/* 两边的小按钮 */
.lbtMin>.but{width: 20px;height: 25px;position: absolute;top: 50%;margin-top: -12.5px;cursor: pointer;}
.lbtMin>.but1{background: url(../html/imgs/index6/article_icon.png) no-repeat;left: 0px;}
.lbtMin>.but2{background: url(../html/imgs/index6/article_icon.png) no-repeat right top;right: 0px;}

/* 排列的图片 */
.lbtMin>ul{width: 460px;height: 55px;margin: 2.5px auto;}
.lbtMin>ul>li{width: 70px;height: 47px;margin: 0 7px;padding: 3px;float: left;border: 1px solid #ccc;}
.lbtMin>ul>li>p{width: 68px;height: 45px;border: 1px solid transparent;}
.lbtMin>ul>li:nth-child(1)>p{border: 1px solid #ff7741;}
.lbtMin>ul>li>p>img{width: 100%;height: 100%;}

/* 活动讲解 */
div.jieshao>p.jj{color:#666;width: 1200px;}


/* <!-- 可能存在的问题 --> */
.wt{font-size: 14px;#666}
.wt1{font-size: 14px;font-weight: 800;}


/* 交通指南 */
div.zhinan{width: 1200px;height: 178px;margin: 0 auto;position: relative;margin-top: 83px;}
/* 地图 */
.zhinan>.dt{width: 1200px;height: 273px;background:url(../html/imgs/index6/dt.png) no-repeat center;position: absolute;top: -273px;left: 0px;}
/* 线路推荐 */
.zhinan>span{display: block;float: left;width:279px;height: 158px;margin: 0 2px;padding-top: 20px;margin: 0 50px;padding: 0 10px;}
.zhinan>span>h4{font-size: 18px;margin-bottom: 10px;color: #333;width: 100%;}
.zhinan>span>p{font-size: 14px;line-height: 20px;}

.zhinan>span:nth-child(4){border-left: 1px solid #ccc;border-right: 1px solid #ccc;padding: 0 20px;width: 259px;}

/* 报名查询 */
div.chaxun{width: 1200px;margin: 0 auto;position: relative;}
div.chaxun>.but2{width:340px;height: 50px;background:white;border-bottom: 1px solid #ccc;padding: 0 430px;}
div.chaxun>.but2>div.cx{width:148px;height:50px;margin: 0 10px;background:white;float: left;border: 1px solid #ccc;text-align: center;line-height: 50px;border-bottom: 0;color:#f4a048;}

div.chaxun>.but2>div.bot{height:49px;color:black;}


div.chaxun>span.ts{width: 300px;height: 60px;position: fixed;top:50%;left: 50%;margin-top: -30px;margin-left: -150px;background: rgba(0,0,0,.5);text-align: center;line-height: 60px;color: white;display: none;}


/* 表单验证 */
.yz{width: 1200px;height: 313px;position: relative;}
.yz>form{display: block;width: 100%;height: 100%;background: white;overflow: hidden;}
.yz>form>.haoma{width: 550px;height: 50px;margin: 10px auto;color: #555;position: relative;}
.yz>form>.haoma>input{width: 400px;height: 46px;outline: none;margin: 0 10px;}
.yz>form>.haoma>span{height:50px;line-height:50px;color: red;display:block;position: absolute;top: 0px;right:35px ;}


.yz>form>.yzma>input{width: 271px;}
.yz>form>.yzma>.div{width:118px;height: 48px;border: 1px solid #a9a9a9;position: absolute;top: 0px;right:57px;text-align: center;line-height: 50px;font-size: 30px;cursor: pointer;}

.yz>form>.tj{width: 173px;height: 50px;background: url(../html/imgs/index6/affirmbtn.png) no-repeat center;border-radius: 10px;outline: 0;border: 0;color: white;margin: 0 auto;display: block;text-align: center;line-height: 50px;cursor: pointer;}

.yz2{height: 350px;}
.yz2>form>.yzma>.div{background: #57C282;font-size: 15px;color: white;cursor: pointer;}


/* 右边固定导航 */
div.gd{width: 67px;height: 133px;position: fixed;top: 50%;right: 0px;margin-top: -50px;z-index: 99999;}
div.gd>div{width: 100%;height: 50%;border: 1px solid #ccc;transition: all .5s ease;background: white;}
div.gd>div>i{width: 65px;height: 40px;display: block;transition: all .5s ease;}
div.gd>div>span{display: block;width: 100%;height: 25px;text-align: center;color: #888;font-size: 12px;line-height: 25px;transition: all .5s ease;}
div.gd>div:nth-child(2)>i{background: url(../html/imgs/index6/intoGoTop.png) no-repeat center;}
div.gd>div:nth-child(1)>i{background: url(../html/imgs/index6/intoRightLogo.png) no-repeat center;}
div.gd>div:hover{background: orange;}
div.gd>div:hover>span{color: white;}
div.gd>div:nth-child(1):hover>i{background: url(../html/imgs/index6/intoRightLogo_h.png) no-repeat center;}
div.gd>div:nth-child(2):hover>i{background: url(../html/imgs/index6/intoGoTop_h.png) no-repeat center;}
