.box{width: 100%;}

/* 空白盒子 */
.Blank1{width: 100%;height:80px}
.Blank2{width: 100%;height:50px}
.Blank3{width: 100%;height:20px}
.Blank4{width: 100%;height:60px}
.Blank5{width: 100%;height:30px}

/* 大图 */
.box>div.banner{width: 100%;height: 500px;}
.box>div.banner>img{display: block;width: 100%;height: 500px;}


/* 报告 */
.box>div.Report{width: 100%;height: 90px;padding: 80px 0 60px 0;background: #eef3f3;}
.box>div.Report>ul{width: 1228px;height: 90px;margin: 0 auto;}
.box>div.Report>ul>li{width: 197px;height: 100%;float: left;padding-left: 110px;overflow: hidden;}
.box>div.Report>ul>li:nth-child(1){background: url(../html/imgs/index4/yuyue.png) no-repeat 0 center;}
.box>div.Report>ul>li:nth-child(2){background: url(../html/imgs/index4/kongjian.png) no-repeat 0 center;}
.box>div.Report>ul>li:nth-child(3){background: url(../html/imgs/index4/baogao.png) no-repeat 0 center;}
.box>div.Report>ul>li:nth-child(4){background: url(../html/imgs/index4/tubiao.png) no-repeat 0 center;}

.box>div.Report>ul>li>span{display: block;width: 80%;height: 24px;font-size: 18px;color: #444;line-height: 24px;margin-bottom: 10px;}
.box>div.Report>ul>li>i{display: block;font-style: initial;color: #888;font-size: 14px;height: 50px;line-height: 25px;width: 80%;}

/* 实时行情 */
.hangqing{width: 100%;height:70px;}
.hangqing>span{display: block;float: left;width: 43%;height: 1px;background: #ccc;margin-top: 20px;}
.hangqing>div{width: 14%;height: 100%;float: left;}
.hangqing>div>h4{height: 40px;font-size: 30px;color: #333;width:120px;margin: 0 auto;font-weight: 500;text-align: center;}
.hangqing>div>span{display: block;color: #bbb;font-size: 14px;width: 100%;text-align: center;margin: 0 auto;}

/* 行情数据 */
.shuju{width: 1200px;height: 300px;margin: 0 auto;}
/* 数据走向图 */
.shuju>.shujuimgs{width: 570px;height: 300px;float: left;}
.shuju>.shujuimgs>img{width: 545px;height: 300px;margin: 0 auto;}
/* 最新消息 */
.shuju>.neirong{width: 550px;height: 290px;float: right;padding: 10px 0 0 50px;border-left: 1px solid #ccc;}
.shuju>.neirong>span{width: 100%;height: 40px;color: #666;font-size: 22px;display: block;}
.shuju>.neirong>span>h3{width: 50%;height: 100%;float: left;text-align: left;font-weight: 300;}
.shuju>.neirong>span>h4{width: 50%;height: 100%;float: left;text-align: left;font-weight: 300;}
.shuju>.neirong>div{width: 100%;height: 200px;text-align: left;line-height: 200px;color: #ddd;font-size: 12px;}


/* 公司公告 */
.gonggao{width: 100%;height: 700px;background: #eef3f3;}

/* 公告标题 */
.gg{width: 100%;height:70px;}
.gg>span{display: block;float: left;width: 43%;height: 1px;background: #ccc;margin-top: 20px;}
.gg>div{width: 14%;height: 100%;float: left;}
.gg>div>h4{height: 40px;font-size: 30px;color: #333;width:120px;margin: 0 auto;font-weight: 500;text-align: center;}
.gg>div>span{display: block;color: #bbb;font-size: 14px;width: 100%;text-align: center;margin: 0 auto;}

/* 公告内容 */
.gonggao>.xingxi{width: 1215px;height: 375px;margin: 0 auto;}
.gonggao>.xingxi>.xx{width: 300px;height: 250px;margin: 0 22px 0 23px;padding: 50px 30px;float: left;background:white;transition: all .5s ease;}
.gonggao>.xingxi>.xx>h5{color: #333;font-size: 19px;padding-bottom: 15px;border-bottom: 1px solid #ccc;font-weight:500;}
.gonggao>.xingxi>.xx>div.content{color: #888;height: 110px;font-size: 13px;line-height:27.5px;}
.gonggao>.xingxi>.xx>span{display: block;width: 100%;height: 20px;background: url(../html/imgs/index4/jt.png) no-repeat right center}

.gonggao>.xingxi>.xx:hover{box-shadow: 5px 5px 10px 2px #ccc;transform: translateY(-5px);}
.gonggao>.xingxi>.xx:hover>h5{color: red;}
.gonggao>.xingxi>.xx:hover>span{background: url(../html/imgs/index4/jtH.png) no-repeat right center}


/* 更多按钮 */
.gengduo{display: block;width: 152px;height: 25px;margin: 0 auto;border: 1px solid #C0C0C0;padding-top: 10px;transition: all .5s ease;}
.gengduo>div{width: 48px;height: 16px;color: #999;font-size: 12px;padding-right: 15px;background: url(../html/imgs/index4/xjt.png) no-repeat right center;margin: 0 auto;transition: all .5s ease;}
.gengduo:hover{background: red;}
.gengduo:hover>div{color: white;background: url(../html/imgs/index4/xjt_h.png) no-repeat right center;}


/* 投资访谈 */
.fangtan{width: 100%;height: 640px;}

/* 访谈标题 */
.ft{width: 100%;height:70px;}
.ft>span{display: block;float: left;width: 43%;height: 1px;background: #ccc;margin-top: 20px;}
.ft>div{width: 14%;height: 100%;float: left;}
.ft>div>h4{height: 40px;font-size: 30px;color: #333;width:170px;margin: 0 auto;font-weight: 500;text-align: center;}
.ft>div>span{display: block;color: #bbb;font-size: 14px;width: 100%;text-align: center;margin: 0 auto;}

/* 轮播图 */
.fangtan>div.lbt{width: 1260px;height: 345px;margin: 0 auto;position: relative;}
/* 两个按钮 */
.fangtan>div.lbt>div.but{width: 30px;height: 50px;position:absolute;top: 50%;margin-top: -25px;transition: all .5s ease;display: none;border-radius: 5px;cursor: pointer;}
.fangtan>div.lbt:hover>div.but{display: block;}
.fangtan>div.lbt>div.shang{background: #ddd url(../html/imgs/index4/btPrev.png) no-repeat center;left: -30px;}
.fangtan>div.lbt>div.shang:hover{background: red url(../html/imgs/index4/btPrev_h.png) no-repeat center;}
.fangtan>div.lbt>div.xia{background: #ddd url(../html/imgs/index4/btNext.png) no-repeat center;right: -30px;}
.fangtan>div.lbt>div.xia:hover{background: red url(../html/imgs/index4/btNext_h.png) no-repeat center;}


/* 轮播图内容 */
.lbt>div.lbtCont{width: 100%;height: 100%;overflow: hidden;}
.lbt>div.lbtCont>ul{width: 200%;height: 100%;position: relative;}
.lbt>div.lbtCont>ul>li{width: 50%;height: 100%;float: left;position: absolute;top: 0;}
.lbt>div.lbtCont>ul>li>div{width: 630px;height: 110px;float: left;padding:31px 0;transition: all .5s ease;}
.lbt>div.lbtCont>ul>li>div>span{width:570px;height: 100%;margin: 0 30px;display: block;border: 1px solid #ccc;}
.lbt>div.lbtCont>ul>li>div>span>span{width:110px;height: 110px;display: block;float:left;transition: all .5s ease;}
.lbt>div.lbtCont>ul>li>div>span>span>h2{width: 100%;height: 40px;color: #666;font-size: 36px;text-align: center;line-height: 40px;margin-top: 25px;transition: all .5s ease;}
.lbt>div.lbtCont>ul>li>div>span>span>i{display:block;font-style: inherit;width: 100%;height: 20px;color: #888;line-height: 20px;text-align: center;transition: all .5s ease;}

.lbt>div.lbtCont>ul>li>div>span>div{width: 438px;height: 110px;float:left;padding: 0 0 0 20px;border-left: 1px solid #ccc;}
.lbt>div.lbtCont>ul>li>div>span>div>h5{color: #444;height: 30px;width: 100%;font-size: 16px;margin-top: 25px;transition: all .5s ease;}
.lbt>div.lbtCont>ul>li>div>span>div>b{color: #888;height: 30px;width: 100%;font-size: 14px;font-weight: 400;}

.lbt>div.lbtCont>ul>li>div:hover{transform: translateY(-3px);}
.lbt>div.lbtCont>ul>li>div:hover>span>span{background: red;}
.lbt>div.lbtCont>ul>li>div:hover>span>span>h2{color: white;}
.lbt>div.lbtCont>ul>li>div:hover>span>span>i{color: white;}
.lbt>div.lbtCont>ul>li>div:hover>span>div>h5{color: red;}


