.box{width: 100%;}

/* 空盒子 */
.bank{width: 100%;height: 60px;}
.bank2{width: 100%;height: 70px;}
.bank3{width: 100%;height: 20px;}
/* 大图 */
.banner{width: 100%;height: 500px;}
.banner>img{width: 100%;height: 100%;}

/* 主要内容 */
div.main{width: 100%;height: 506px;background: #ebebeb;}
div.main>ul{width: 1281px;height: 376px;margin: auto;}
div.main>ul>li{width: 407px;height: 354px;float: left;padding: 11px 0;background: white;transition: all .5s ease;margin: 0 10px;}
div.main>ul>li:hover{transform: translateY(-5px);}
div.main>ul>li>div{width: 385px;height: 210px;margin: 0 auto;}
div.main>ul>li:nth-child(1)>div{background:url(../html/imgs/index5/1jpg.jpg) no-repeat center;}
div.main>ul>li:nth-child(2)>div{background:url(../html/imgs/index5/2.jpg) no-repeat center;}
div.main>ul>li:nth-child(3)>div{background:url(../html/imgs/index5/3.jpg) no-repeat center;}

div.main>ul>li>span{display: block;width: 315px;height: 74px;padding: 35px;margin: 0 auto;}
div.main>ul>li>span>i{display: block;width: 100%;height: 30px;font-size: 22px;font-style: inherit;}
div.main>ul>li>span>div.zhiwei{height: 25px;padding-left: 30px;background: url(../html/imgs/index5/H.png) no-repeat left center;color: red;}























