.box{width: 100%;background: #EDEDED;}
banner{width: 100%;height: 300px;display: block;}
banner>img{width: 100%;height:100%;}

/* 空白盒子 */
div.Blank1{width: 100%;height: 35px;}
div.Blank2{width: 100%;height: 30px;}
div.Blank3{width: 100%;height: 20px;}
div.Blank4{width: 100%;height: 40px;}

/* 主要内容 */
div.main{width: 100%;background: #ededed;display: none;}
 div.main2{display: block;}


/* 视频 */
div.shiping{width: 1280px;height:1190px;margin: 0 auto;}
div.shiping>div{width: 386px;height: 258px;float: left;padding: 10px;background: white;margin: 10px;transition: all .5s ease;}
div.shiping>div:hover{box-shadow: 0px 1px 50px 1px #ccc;transform: translateY(-5px);}

div.shiping>div>span{width: 386px;height: 209px;display: block;position: relative;}
/* 透明黑布 */
div.shiping>div>span>div{width: 100%;height: 100%;background: rgba(0,0,0,.5) url(../html/imgs/newsImg/play.png) no-repeat center;position: absolute;top:0px;left: 0px;display: none;}
div.shiping>div>span>img{width: 386px;height: 209px;display: block;}
div.shiping>div>h4{width:366px;height: 20px;padding: 10px 15px;text-align: center;color: #333;font-weight: 500;line-height: 20px;margin: 10px 0 0 0;}



/* 新闻导航栏 */
div.wrap{width: 1200px;height: 65px;margin: 0 auto;background: white;padding: 0 10.5%;}
/* 新闻分类标题 */
div.wrap>ul{width:65%;height: 100%;float: right;}
div.wrap>ul>li{float: left;padding: 0 10px;height: 63px;color: #666;font-size: 14px;line-height: 65px;height: 100%;text-align: center;cursor: pointer;}
/* 标题样式 */
div.wrap>ul>li.sty{color: #57c282;border-bottom:2px solid #57C282;}

/* 新闻内容 */
div.main>div.content{width:1200px;margin: 0 auto;display: none;}
div.main>div.Block{display: block;}

div.main>div.content>div.content1{width: 100%;height:264px;padding: 10px 0;background: white;}
/* 没左边图片时新闻内容的样式 */
div.main>div.content>div.content2{background:rgba(255,255,255,.4);}
div.main>div.content>div.content1>.cont{width:1130px;height: 164px;padding: 50px 35px;}
/* 左边图片 */
div.content1>.cont>img{display: block;width: 300px;height: 162px;float:left;}
/* 右边新闻内容 */
div.content1>.cont>.newscont{width:758px;height: 160px;float: left;padding: 0 20px;}
div.content1>.cont>.newscont>h2{width: 100%;height: 30px;font-size: 22px;color: #434343;line-height: 30px;transition: all .5s ease;font-weight: 500;}
div.content1>.cont>.newscont>h2:hover{color: #57C282;}
div.content1>.cont>.newscont>div{margin: 30px 0;width: 100%;height: 50px;color: #929292;fint-size:14px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;overflow:hidden;line-height: 25px;}
div.content1>.cont>.newscont>span{display: block;width: 100%;height: 20px;font-size: 15px;line-height: 20px;}
/* 没左边图片时新闻内容的样式 */
div.content1>.cont>.cont1{width: 1090px;}

/* 底部按钮 */
div.buts{width: 408px;height: 57px;margin: 0 auto;}

div.buts>button{width: 47px;height: 43px;padding: 12px 18px;background: white;display: block;float: left;outline: none;border: none;margin: 0 2px;font-size: 14px;color: #999;}

div.buts>button.K{background:#fff url(../html/imgs/newsImg/firstPage.png) no-repeat center;}
div.buts>button.K:hover{background:#57c282 url(../html/imgs/newsImg/firstPageH.png) no-repeat center;}
div.buts>button.K2{background:#fff url(../html/imgs/newsImg/lastPage.png) no-repeat center;}
div.buts>button.K2:hover{background:#57c282 url(../html/imgs/newsImg/lastPageH.png) no-repeat center;}

div.buts>button.last{background:#fff url(../html/imgs/newsImg/prevPage.png) no-repeat center;}
div.buts>button.last:hover{background:#57c282 url(../html/imgs/newsImg/prevPageH.png) no-repeat center;}
div.buts>button.next{background:#fff url(../html/imgs/newsImg/nextPage.png) no-repeat center;}
div.buts>button.next:hover{background:#57c282 url(../html/imgs/newsImg/nextPageH.png) no-repeat center;}

div.buts>button.stys{background: #57C282;color: white;}

div.buts>button:hover{background: #57C282;color: white;}








