*{margin:0;padding: 0;}
li{list-style: none;}
a{text-decoration:none;}
.box{width: 100%;height: auto;background:white;overflow: hidden;}

/*-------------------------右边固定-------------------------*/
.gd{position:fixed;top: 196px;right: 0;background:transparent;width: 200px;height: 230px;transition: all .3s ease;transform: translateX(150px);}
.gd:hover{transform: translateX(0px);cursor:pointer;}
.gd>li{width: 100%;height: 53px;overflow: hidden;margin: 4px 0;background: #011a76;transition: all .5s ease;}
.gd>li>div{width:53px;float: left;height: 53px;overflow: hidden;}
.gd>li>div>img{width: 100%;}
.gd>li.QQ>div>img{margin-top:-110px;}
.gd>li.rex>div>img{margin-top:-55px;}
.gd>li>a{display: block;float:left;height: 53px;line-height: 53px;margin-left:15px;font-size: 16px;font-weight: 900;color: white;}
.gd>li.rex>p{width:150px;height:120px;margin: 60px auto 0 auto;}
.gd>li.rex>p>img{width: 100%;height: 100%;}
.gd:hover>li.rex{height: 200px;}

/*-------------------------右边固定完-------------------------*/
/*<!-- -------------------上部分------------------- -->*/
.ny-top{width: 100%;height: 610px;}
.nt-t{width: 100%;height: 190px;border-bottom: 10px solid #B9A17B;background:red;}
.nt-tt{width: 82%;height: 150px;background:#011A76;line-height: 150px;padding:0 9%;}
.nt-tt>img{width: 474px;height: 125px;float: left;margin-top:12.5px;cursor: pointer;}
.tt-r{width: 200px;height: 30px;float: right;margin-top: 60px;}
.ssk{width: 170px;height:30px;display: block;float: left;border: 0;border-radius: 8px 0 0 8px;outline: 0;}
.ss{width: 30px;height: 30px;background-image: url(../img/ss.png);background-repeat: no-repeat;background-size: 16px 16px;background-position: center;display: block;float:left;border: 0;border-radius:0 8px 8px 0;outline: 0;cursor: pointer;}

.nt-tb{width: 80%;height: 40px;background:#011A76;padding: 0 10%;}
.nt-tb>li{width:130px;height: 40px;float: left;margin: 0 auto;position: relative;}
.nt-tb>li:hover{background:url(../img/bj2.png) repeat-x;}
.nt-tb>li>div.yc{width:470px;height: 0px;background:white;position: absolute;left: 0px;top: 40px;overflow: hidden;transition: all 0.5s ease;border: 0;z-index: 999;}
.nt-tb>li>div.yc>img{display:block;width:105%;height:105%;position: absolute;top:0px;left: -10px;z-index:-1;opacity: 0.5;}
.nt-tb>li:hover>div.yc{height: 240px;border-top: 2px solid red; }
.nt-tb>li>div.yc>div.tm{width: 100%;height: 60%;position: absolute;top: 0px;left: 0px;background:#000000;opacity: 0.04;z-index: 2;}
.nt-tb>li>div.yc>div{margin-top: 20px;}
.nt-tb>li>div.yc>.yc-l{width:75px;height: 220px;border-right: 1px solid red;float: left;}
.nt-tb>li>div.yc>.yc-l>a{width:67px;height: 17px;display: block;margin-bottom:-15px;font-size: 13px;margin-left:4px;padding-right: 5px; }
.nt-tb>li>div.yc>.yc-l>a:hover{text-decoration-line:underline;}

.nt-tb>li>a{display: block;height: 40px;font-size: 18px;color:#ffffff;line-height: 40px;text-align: center;margin: 0 auto;}
.nt-tb>li>div.yc>.yc-r{width:375px;height: 220px;float:right;color: red;}
.nt-b{width: 4557.6px;height: 400px;background:#B9A17B;cursor: pointer;overflow: hidden;}
.nt-b>img{width:33.333333333333333333333333333333%;height: 100%;display: block;float: left;transition: all 1s ease;}
/*<!-- -------------------上部分完------------------- -->*/

/*<!-- -------------------中间部分------------------- -->*/
.ny-midden>div{border: 1px solid rgba(33,33,33,0.2);}
.ny-midden>.m-1{width:1250px;height: 315px;margin: 0 auto 10px auto;}
.m-1t{width: 98%;height: 38px;margin: 0 auto;border-bottom: 2px solid #B9A17B;}
.m-1t>div{width:6%;background:#011A76;height: 38px;line-height: 38px;text-align: center;border-radius:10px 10px 0 0;color: white;cursor: pointer;}
.ny-midden>.m-1>.m-1b{width: 90%;height: 255px;margin: 0 auto;margin: 10px 0 5% 5%}
.ny-midden>.m-1>.m-1b>div{width: 252px;height:255px;float: left;margin: 0 14.6px;}
.ny-midden>.m-1>.m-1b>div>img{display: block;margin: 0 auto;cursor: pointer;}
.ny-midden>.m-1>.m-1b>div>h3{width:100%;height:25%;cursor: pointer;color:#002D89;font-size: 15px;overflow: hidden;font-weight: 500;line-height: 30px;cursor: pointer;}
.ny-midden>.m-1>.m-1b>div>p{color: white;cursor: pointer;}

.ny-midden>.m-2{width:1250px;height: 360px;margin: 0 auto 10px auto;}
.ny-midden>.m-2>div{border: 1px solid rgba(33,33,33,0.2);cursor: pointer;}
.ny-midden>.m-2>div.m-2l{width: 45%;height: 100%;float: left;}
.ny-midden>.m-2>div.m-2r{width: 45%;height: 100%;float: right;}

.ny-midden>.m-2>div>.m-2l{margin-right: 10%;}
.ny-midden>.m-2>div>.r2-t{width: 98%;height: 38px;border-bottom:2px solid #B9A17B;margin: 0 0 0 10px; }
.ny-midden>.m-2>div>.r2-t>div{width:15%;background:#011A76;height: 38px;line-height: 38px;text-align: center;border-radius:10px 10px 0 0;color: white;float: left;}
.ny-midden>.m-2>div>.r2-t>a{height: 38px;display: block;float: left;line-height: 38px;color: #797575;margin-left: 10px;cursor: pointer;}
.r2-t>p{height: 38px;display: block;float: right;line-height: 38px;color: #b9a17b;cursor: pointer;}

.ny-midden>.m-2>div>.r2-b{width: 96%;height:322px;margin: 0 0 0 10px;}
.ny-midden>.m-2>div>.r2-b>h3{width: 100%;height: 32px;}
.ny-midden>.m-2>div>.r2-b>h3>li{font-size: 14px;font-weight: 500;cursor: pointer;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:1;
-webkit-box-orient: vertical;word-wrap: break-word;overflow:hidden;float: left;width: 70%;height: 32px;line-height: 32px;}
.ny-midden>.m-2>div>.r2-b>h3:hover{color:#4c88d1;}
.ny-midden>.m-2>div>.r2-b>h3>span{display: block;float: right;color: #9A9898;cursor: pointer;font-size: 14px;height: 32px;line-height: 32px;font-weight: 500;}


.ny-midden>.m-3{width:1250px;height: 440px;background:#F6F7F6;margin: 0 auto 10px auto;}
.m3-1{width: 248.5px;height:170px;margin: 0 22px 10px 22px;background: white;padding: 5px 10px 5px 10px;float: left;;}
.m3-1>div.m3-11{width: 248.5px;height: 130px;overflow: hidden;}
.m3-1>div.m3-11>img{width: 248.5px;height: 130px;display: block;transition: all 1s ease;cursor: pointer;}
.m3-1>div.m3-11>img:hover{transform: scale(1.1,1.1);}
.m3-1>h3{width: 100%;height: 40px;background:#011A76;display: block;line-height: 40px;text-align: center;color: white;cursor: pointer; }



.ny-midden>.m-4{width:1250px;height: 440px;background:#F6F7F6;margin: 0 auto 10px auto;}

.ny-midden>.m-5{width:1250px;height: 120px;margin: 0 auto 10px auto;}
.ny-midden>.m-5>div{width:78px;height:120px;margin: 0 5px;float: left;margin-top: 10.5px;}
.ny-midden>.m-5>div>img{width:78px;height:78px;border-radius:50px;cursor: pointer;transition: all 0.5s ease;}
.ny-midden>.m-5>div:hover>img{transform: scale(1.1);}
.ny-midden>.m-5>div>h3{width: 85px;height: 21.6px;font-size: 14px;color:black;text-align: center;cursor: pointer;font-size: 14px;font-weight: 500;}
.ny-midden>.m-5>.m5-l{width:70px;height:120px;background:#011A76;margin-top: 0px;}
.ny-midden>.m-5>.m5-l>h3{width:10px;height:120px;padding:0 30px;color:white;font-size: 14px;text-align: center;line-height: 30px;cursor: pointer;}
/*<!-- -------------------中间部分完------------------- -->*/

/*<!-- -------------------底层部分------------------- -->*/

.ny-bottom{width: 100%;height: 280px;background:#011A76;border-top: 10px solid #B9A17B;border-bottom: 10px solid black;}
.b-t{width: 80%;height: 20%;background:#011A76;padding: 0 10%}
.b-t>h3{height: 20px;float: left;line-height: 20px;margin-top: 30px;color: white;}
.b-t>li{height: 20px;float: left;line-height: 20px;border-left: 1px solid white;padding:0 40px;margin-top: 30px;color: white;cursor: pointer;cursor: pointer;}
.b-t>li.li1{border: 0;}
.b-b{width: 1250px;height: 204px;margin:0 auto;background:#011A76}
.b-b>div{height: 170px;width: 140px;margin-top: 20px;}
.b-b>div>span{width: 140px;height:30px;line-height: 30px;text-align: center;display: block;margin: 0 auto;color: white}
.b-b>div>img{width: 100%;height: 140px;}
.b-b>div.bb-l{float:left;}
.b-b>ul{width:790px;height:36px;float: left;margin-left:70px;}
.b-b>ul>li{width:790px;height:36px;display: block;margin: 0 auto;text-align: center;line-height: 36px;color: white}
.b-b>div.bb-r{float:right;}
.b-b>ul>li.li2{margin-top: 2%;}
/*<!-- -------------------底层部分完------------------- -->*/