*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.box{width: 100%;height:auto;}


header{width: 100%;height: 2400px;}
nav{width: 100%;height:168px;}
nav>.logo1{width: 100%;height: 80%;overflow: hidden;}
nav>.logo1>img{width:246px;height: 60px;margin: 37px auto;display: block;}
nav>ul{width: 42%;height: 20%;padding: 0 29%;}
nav>ul>li{float: left;height:33.6px;width: 102px;}
nav>ul>li>a{display: block;width: 100%;height: 100%;line-height: 33.6px;text-align: center;font-weight: 600;color:#333;}
nav>ul>li:hover>a{color: #686868;}

banner{display: block;width: 100%;height:792px;background: red;position: relative;}
banner>ul{width:100%;height: 100%;overflow: hidden;position: relative;}
banner>ul>li{width:1519.2px;height: 100%;transition: all 1s ease;position:absolute;top: 0;left: 0px;}
banner>ul>li>img{width:1519px;height:792px;display:block;float: left;transition: all 1s ease;}
banner>div{position:absolute;top:42%;width: 100px;height: 120px;font-size: 80px;color: rgba(255,255,255,0);font-weight: 100;text-align: center;line-height: 120px;background: rgba(255,255,255,0);transition: all .6s ease;cursor: pointer;}
banner>div.ban-left{left: 10px;}
banner>div.ban-right{right: 10px;}
banner:hover>div{background: rgba(255,255,255,.1);color: rgba(255,255,255,1);}
banner>span{display: block;width: 100px;height: 30px;position: absolute;top: 95%;left: 40%;padding: 0 100px;}
banner>span>i{display: block;width: 20px;height: 20px;border-radius: 10px;background: rgba(200,200,200,0);float: left;margin: 0 6%;transition: all .6s ease;}
banner:hover>span>i{background: rgba(200,200,200,.5);}
banner>span>i:hover{background: rgba(255,255,255,.7);}



header>section{width: 100%;height: 336px;}
section>h2{display: block;width: 80%;height: 40%;text-align: center;line-height:134.4px ;margin: 0 auto;font-size: 40px;font-weight:500;}
section>p{display: block;width: 80%;height: 30%;margin: 0 auto;font-size: 14px;font-weight:300;color: #666;text-align: center;}
section>span{display: block;width: 80%;height: 30%;margin: 0 auto;}
section>span>img{margin: 0 auto;width: 161px;display: block;}


header>.image{width: 80%;height:1004px;background: #f9f9f9;padding: 50px 10%;}
header>.image>span{display: block;width: 90%;height: 40%;padding:2.5% 4.3% 5% 3.2%;margin: 0 auto;}
header>.image>span>div{width: 30%;height: 100%;margin: 0 1.55%;float: left;transition: all .5s ease;background: white;border: 1px solid white;}
header>.image>span>div:hover{transform: translateY(-30px);box-shadow: 0 20px 40px 3px #c0c0c0;}
header>.image>span>div>img{width: 100%;height: 80%;display: block;}
header>.image>span>div>h3{width: 100%;height: 10%;text-align: center;line-height:40.15px ;font-size: 15px;font-weight: 700;}
header>.image>span>div>p{width: 100%;height: 10%;text-align: center;line-height:40.15px ;font-size: 14px;color: #898989;}

main{width: 100%;height: 2400px;}
.idea{width: 100%;height: 25%;}
.idea>h1{width: 80%;height: 20%;text-align: center;margin:0 auto;line-height: 120px;font-size: 40px;font-weight: 500;}
.idea>span{display: block;width: 80%;height: 80%;margin:0 auto;}
.idea>span>p{float: left;width: 50%;height: 79%;padding-top:100px;}
.idea>span>p>a{display: block;width: 100%;height: 30%;float: left;color: #808080;font-size: 15px;letter-spacing: 2px;}
.idea>span>div{float: right;width: 50%;height: 100%;}
.idea>span>div>img{display: block;width: 512px;height: 312px;padding: 6px;margin: 80px auto 0 auto;box-shadow: 0 0 50px 1px #ccc;}


main>span{width: 100%;height: 25%;display: block;}
main>span>img{display: block;width: 50%;height: 100%;float: left;}
main>span>p{display: block;width: 50%;height: 100%;float:right;}
main>span>p>span{display: block;width: 80%;height:20px;color: #999999;line-height: 20px;margin: 0 auto;margin-top:25%;}
main>span>p>a{display: block;width: 80%;font-size: 23px;color: #000000;font-weight: 800;margin: 5px auto;}
main>span>p>c{display: block;width: 80%;margin: 10px auto;font-size: 15px;letter-spacing: 1px;}
main>span>p>button{display: block;width:124px;height:44px;font-size: 15px;line-height: 44px;color: white;background:rgb(85,85,85);border:1px solid rgb(85,85,85);outline: 0;margin: 20px 0 0 10%;transition:all .5s ease}
main>span.main-two>img{display: block;width: 50%;height: 100%;float: right;}
main>span.main-two>p{display: block;width: 50%;height: 100%;float:left;text-align: right;}
main>span.main-two>p>button{display: block;width:124px;height:44px;font-size: 15px;line-height: 44px;color: white;background:rgb(85,85,85);border:1px solid rgb(85,85,85);outline: 0;margin: 20px 0 0 70%;transition:all .5s ease}
main>span>p>button:hover{background:rgb(70,70,70);cursor:pointer}

footer{width: 100%;height: 1200px;}
footer>div{width: 100%;height: 70%;overflow: hidden;position: relative;margin: 50px 0 0 0;}
footer>div>img{display: block;width: 100%;height: 100%;position: absolute;top:0;left: 0px;z-index: -2;opacity: .1;}
footer>div>h1{width: 80%;text-align: center;margin: 80px auto 20px auto;font-size: 40px;font-weight: 500;}
footer>div>p{width: 80%;text-align: center;margin: 40px auto 20px auto;font-size: 14px;color: #666;}

footer>div>div{width: 80%;height: 55%;margin: 80px auto 0 auto;position: relative;}
footer>div>div>li{width:668.44px;height:115.5px;margin: 1.8% 0 1.8% 0px;position: relative;border:1px solid transparent;}
footer>div>div>li.li-r{margin-left: 45%;}
footer>div>div>li>span{display: block;width: 60%;height: 100%;float: left;text-align:right;}
footer>div>div>li>span>div{color: #444;font-size: 14px;margin-top: 40px;transition: all .5s ease;}
footer>div>div>li:hover>span>div{color: #fff;}
footer>div>div>li>span>p{color: #999;font-size: 13px;}

footer>div>div>li>c{width: 20%;height: 100%;float: left;margin-left: 40px;}
footer>div>div>li>c>h6{color: #bdbdbd;font-size: 36px;margin-top: 35px;}
footer>div>div>li>c>span{color: #BDBDBD;font-size: 12px;}

footer>div>div>li>div{width:13px;height:13px;float: left;margin-left: 20px;border-radius: 30px;border: 2px solid #cfcfcf;margin-top: 60px;transition: all .5s ease;}
footer>div>div>li:hover>div{border: 2px solid #777;}
footer>div>div>li.li-r>div{margin-left: 48px;margin-top: 60px;margin-right: 20px;}
footer>div>div>li.li-r>span{text-align: left;}
footer>div>div>li>p{display: block;height: 100%;width: 72.5%;background: #000000;position: absolute;top: 0;left: 0;z-index: -1;opacity: 0;transition: all .5s ease;}
footer>div>div>li.li-r>p{left: 28%;}

footer>div>div>i{display: block;width: 1px;height: 26.9%;background: #ccc;position: absolute;top:76px;left:49.7%;}
footer>div>div>i.i2{top:216px;}
footer>div>div>i.i3{top:355px;height: 16.9%;}

footer>div>div>b{display: block;width: 30px;height: 30px;border-radius: 20px;border: 2px solid #C0C0C0;background: #c0c0c0;position: absolute;bottom: 0;left: 48.29%;}
footer>div>div>b:hover{border: 2px solid red;}
footer>div>div>li:hover{border:1px solid #ccc;}
footer>div>div>li:hover>p{opacity:1;}


footer>span{display:block;width:100%;height: 26%;background: #000000;overflow: hidden;margin: 50px 0 0 0;}
footer>span>img{display: block;width: 212px;height: 90px;margin: 70px auto 0px auto;}
footer>span>ul{width: 14%;height: 32px;margin: 20px auto;}
footer>span>ul>li{display: block;float:left;width: 32px;height: 32px;margin: 0 5px;}
footer>span>ul>li:nth-child(1){background: url(../img/xbt.png) no-repeat -64px -160px;}
footer>span>ul>li:nth-child(2){background: url(../img/xbt.png) no-repeat -128px -160px;}
footer>span>ul>li:nth-child(3){background: url(../img/xbt.png) no-repeat -0px -160px;}
footer>span>ul>li:nth-child(4){background: url(../img/xbt.png) no-repeat -640px -160px;}
footer>span>ul>li:nth-child(5){background: url(../img/xbt.png) no-repeat -672px -160px;}
footer>span>p{display: block;width: 100%;text-align: center;color: white;font-size: 12px;}


