*{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration:none;}


.jr{width:100%;height: 1000px;background:#FBF8FF;}
/*-------------------------------------------------------------头部-------------------------------------------------------------*/
.j-top{width: 94.75%;height: 77.6px;padding: 0 40px;background:#FBF8FF}
.j-top>.jt-l{width: 19.3%;height: 74%;float: left;background:#FBF8FF;margin-left: 5%;padding: 10px 10px 10px 0;}
.j-top>.jt-l>img{width: 70%;height:90%;margin-left: 15%;cursor: pointer;}
.j-top>.jt-r{width: 55%;height: 100%;float: right;background:#FBF8FF;margin-right: 5%;padding-left: 15%;}
.j-top>.jt-r>li{height: 68%;background:#FBF8FF;float: left;margin: 0 20px;padding-top: 25px;}
.j-top>.jt-r>li>a{height: 24.4px;padding: 12px 0;background:#FBF8FF;line-height: 24.4px;color: black; }
.j-top>.jt-r>li.sy>a{color: #7619f0;}
.j-top>.jt-r>li>span{display: block;width: 100%;height: 1px;background: #7619f0;margin-top:28px;transform: scale(0,1);transition: all 0.5s ease;}
.j-top>.jt-r>li.sy>span{background: #7619f0;transform: scale(1,1);}
.j-top>.jt-r>li:hover>a{color: #7619f0; }
.j-top>.jt-r>li:hover>span{transform: scale(1,1);}
/*-------------------------------------------------------------头部完-------------------------------------------------------------*/

/*-------------------------------------------------------------身体-------------------------------------------------------------*/
.j-cen{width: 78%;height: auto;padding: 0 12% 0 10%;}
.jc-1{width: 100%;height: 570px;}
.jc-1>.jc-1l{width: 30%;height: 79%;float: left;background:#FBF8FF;padding-top: 10%;}
.jc-1>.jc-1l>a{color: #000;font-size: 16px;width: 100%;font-weight: 900;}
.jc-1>.jc-1l>li{color: #000;font-size: 50px;margin:40px auto;font-weight: 900;}
.jc-1>.jc-1l>.a1{color: #000;font-size: 14px;}
.jc-1>.jc-1l>div{width: 161px;height: 26px;color: #7619f0;padding: 11px 16px;font-size: 15px;border: 3px solid  #7619f0;border-radius: 28px;text-align: center;transition: all 1s ease;line-height: 28px;margin-top: 40px;cursor:pointer;}
.jc-1>.jc-1l>div:hover{background:rgb(14,117,245);color: white;border: 3px solid  rgb(14,117,245); }
.jc-1>.jc-1r{width: 60%;height: 100%;float:right;}
.jc-1>.jc-1r>img{width: 100%;height: 100%;}

.jc-2{width: 100%;height: 570px;background:#FBF8FF;margin-top: 100px;}
.jc-2>.jc-2l{width: 30%;height: 79%;float: left;background:#FBF8FF;padding-top: 10%;}
.jc-2>.jc-2l>a{color: #233142;font-size: 26px;width: 100%;font-weight: 900;display: block;margin-bottom: 10px;}
.jc-2>.jc-2l>li{margin:30px auto;}
.jc-2>.jc-2l>li>span{display: block;color:rgb(100, 116, 136);;font-size: 14px;margin: 10px 0;}
.jc-2>.jc-2l>li>span>a{color:#7619f0;font-size: 14px;margin-right:20px;  }
.jc-2>.jc-2l>.a1{color: #000;font-size: 12px;margin: 30px 0;font-weight: 100;}
.jc-2>.jc-2l>div{width: 161px;height: 26px;padding: 11px 16px;font-size: 15px;border: 3px solid  #7619f0;border-radius: 28px;text-align: center;transition: all 1s ease;line-height: 28px;margin-top: 40px;cursor:pointer;background: #7619f0;color: white;}
.jc-2>.jc-2l>div:hover{background:rgb(14,117,245);color: white;border: 3px solid  rgb(14,117,245); }
.jc-2>.jc-2r{width: 60%;height: 100%;float:right;}
.jc-2>.jc-2r>img{width: 100%;height: 100%;}


.jc-3{width: 100%;height: 450px;background:#FBF8FF;margin-top: 100px;}
.jc-3>.jc-3l{width: 40%;height: 79%;float:right;background:#FBF8FF;padding-top: 10%;}
.jc-3>.jc-3l>a{color: #233142;font-size: 26px;width: 100%;font-weight: 900;display: block;margin-bottom: 10px;}
.jc-3>.jc-3l>li{margin:30px auto;}
.jc-3>.jc-3l>li>span{display: block;color:rgb(100, 116, 136);;font-size: 14px;margin: 10px 0;}
.jc-3>.jc-3l>.a1{color: #000;font-size: 12px;margin: 30px 0;font-weight: 100;}
.jc-3>.jc-3l>div{width: 161px;height: 26px;padding: 11px 16px;font-size: 15px;border: 3px solid  #7619f0;border-radius: 28px;text-align: center;transition: all 1s ease;line-height: 28px;margin-top: 40px;cursor:pointer;background: #7619f0;color: white;}
.jc-3>.jc-3l>div:hover{background:rgb(14,117,245);color: white;border: 3px solid  rgb(14,117,245); }
.jc-3>.jc-3r{width: 50%;height: 100%;float:left;}
.jc-3>.jc-3r>img{width: 100%;height: 100%;}


.jc-4{width: 100%;height: 450px;background:#FBF8FF;margin-top: 100px;}
.jc-4>.jc-4l{width: 40%;height: 79%;float:left;background:#FBF8FF;padding-top: 10%;}
.jc-4>.jc-4l>a{color: #233142;font-size: 26px;width: 100%;font-weight: 900;display: block;margin-bottom: 10px;}
.jc-4>.jc-4l>li{margin:30px auto;}
.jc-4>.jc-4l>li>span{display: block;color:rgb(100, 116, 136);;font-size: 14px;margin: 10px 0;}
.jc-4>.jc-4l>.a1{color: #000;font-size: 12px;margin: 30px 0;font-weight: 100;}
.jc-4>.jc-4l>div{width: 161px;height: 26px;padding: 11px 16px;font-size: 15px;border: 3px solid  #7619f0;border-radius: 28px;text-align: center;transition: all 1s ease;line-height: 28px;margin-top: 40px;cursor:pointer;background: #7619f0;color: white;}
.jc-4>.jc-4l>div:hover{background:rgb(14,117,245);color: white;border: 3px solid  rgb(14,117,245); }
.jc-4>.jc-4r{width: 50%;height: 100%;float:right;}
.jc-4>.jc-4r>img{width: 100%;height: 100%;}

.jc-5{width: 100%;height: 450px;background:#FBF8FF;margin-top: 100px;}
.jc-5>.jc-5l{width: 40%;height: 73%;float:right;background:#FBF8FF;padding-top: 10%;}
.jc-5>.jc-5l>a{color: #233142;font-size: 26px;width: 100%;font-weight: 900;display: block;margin-bottom: 10px;}
.jc-5>.jc-5l>li{margin:30px auto;}
.jc-5>.jc-5l>li>span{display: block;color:rgb(100, 116, 136);;font-size: 14px;margin: 10px 0;}
.jc-5>.jc-5l>.a1{color: #000;font-size: 12px;margin: 30px 0;font-weight: 100;}
.jc-5>.jc-5l>div{width: 161px;height: 26px;padding: 11px 16px;font-size: 15px;border: 3px solid  #7619f0;border-radius: 28px;text-align: center;transition: all 1s ease;line-height: 28px;margin-top: 40px;cursor:pointer;background: #7619f0;color: white;}
.jc-5>.jc-5l>div:hover{background:rgb(14,117,245);color: white;border: 3px solid  rgb(14,117,245); }
.jc-5>.jc-5r{width: 50%;height: 100%;float:left;}
.jc-5>.jc-5r>img{width: 100%;height: 100%;}




.j-cen2{width: 100%;height: 550px;background:#FBF8FF;overflow: hidden;margin-top: 100px;}
.j-cen2>a{display: block;font-size: 28px;font-weight: 900;margin: 100px 0 50px 0;color: #000;}
.j-cen2>a>b{font-size: 14px;color: #000;}
.j-cen2>span{display:block;width: 100%;height: 338px;background:#FBF8FF}
.j-cen2>span>img{width: 254px;height: 338px;margin: 0 19px;}



.j-cen3{width: 100%;height: 830px;background:#FBF8FF;overflow: hidden;}
.j-cen3>ul{width: 100%;height:88px;margin-top: 66px;}
.j-cen3>ul>a{width: 100%;height: 20px;font-size: 14px;text-align: center;display: block;color: #7619f0;padding-bottom: 15px;}
.j-cen3>ul>li{width: 100%;font-size: 36px;text-align: center;color: #000;font-weight: 600;}
.j-cen3>span{display: block;width: 100%;height: 615px;padding-top: 60px;background:#FBF8FF}
.j-cen3>span>div{width:279px;height: 470px;float: left;background:#341f97;margin-right:35px;padding: 40px 40px 10px; }
.j-cen3>span>div>a{display: block;font-size: 48px;color: white}
.j-cen3>span>div>a>b{font-size:20px;}
.j-cen3>span>div>b{display: block;font-size: 20px;color: white;margin-top: 10px;margin-bottom: 20px;}
.j-cen3>span>div>span{display: block;font-size: 14px;color: white;}
.j-cen3>span>div>span.sz{margin-bottom: 20px;}
.j-cen3>span>div>ul{width: 100%;height: 30px;color: white;font-weight: 600;}
.j-cen3>span>div>button{width: 288px;height: 45px;color: #7619f0;font-size: 15px;border:0;border-radius: 28px;text-align: center;transition: all 0.5s ease;line-height: 45px;margin-top: 50px;cursor:pointer;outline:0;}
.j-cen3>span>div>button:hover{background:rgb(25,129,250);color: white; }


.j-cen4{width: 100%;height: 590px;background:#FBF8FF;overflow: hidden;margin-top: 50px;}
.j-cen4>ul{width: 100%;height:88px;margin-top: 66px;}
.j-cen4>ul>a{width: 100%;height: 20px;font-size: 14px;text-align: center;display: block;color: #7619f0;padding-bottom: 15px;}
.j-cen4>ul>li{width: 100%;font-size: 36px;text-align: center;color: #000;font-weight: 600;}
.j-cen4>div{width: 1167px;height: 340px;margin-top: 70px;background:#FBF8FF;}
.j-cen4>div>img{width: 100%;height: 100%;}



.jc-6{width: 100%;height: 450px;background:#FBF8FF;margin-top: 100px;}
.jc-6>.jc-6l{width: 40%;height: 73%;float:left;background:#FBF8FF;padding-top: 10%;}
.jc-6>.jc-6l>a{color: #233142;font-size: 26px;width: 100%;font-weight: 900;display: block;margin-bottom: 10px;}
.jc-6>.jc-6l>li{margin:30px auto;}
.jc-6>.jc-6l>li>span{display: block;color:rgb(100, 116, 136);;font-size: 14px;margin: 10px 0;}
.jc-6>.jc-6l>.a1{color: #000;font-size: 12px;margin: 30px 0;font-weight: 100;}
.jc-6>.jc-6l>div{width: 120px;height: 26px;padding: 11px 16px;font-size: 14px;border: 3px solid  #7619f0;border-radius: 28px;text-align: center;transition: all 1s ease;line-height: 28px;margin-top: 40px;cursor:pointer;background: #7619f0;color: white;float: left;margin-right: 30px;}
.jc-6>.jc-6l>div:hover{background:rgb(14,117,245);color: white;border: 3px solid  rgb(14,117,245); }
.jc-6>.jc-6r{width: 50%;height: 100%;float:right;}
.jc-6>.jc-6r>img{width: 100%;height: 100%;}


.j-cen5{width: 100%;height:720px;background:#FBF8FF;overflow: hidden;margin-top: 50px;margin-bottom: 50px;}
.j-cen5>ul{width: 100%;height:88px;margin-top: 66px;}
.j-cen5>ul>a{width: 100%;height: 20px;font-size: 14px;text-align: center;display: block;color: #7619f0;padding-bottom: 15px;}
.j-cen5>ul>li{width: 100%;font-size: 36px;text-align: center;color: #000;font-weight: 600;}
.j-cen5>div{width: 1167px;height: 456px;margin-top: 70px;background:#FBF8FF;}
.j-cen5>div>div{width:347px;height:100%;float: left;}
.j-cen5>div>div.whr{margin: 0 5.39%;}
.j-cen5>div>div>li{width:347px;height: 312px;}
.j-cen5>div>div>li>img{width:347px;height: 312px;}
.j-cen5>div>div>span{display: block;width: 100%;font-size: 12px;}
.j-cen5>div>div>span>li{font-size: 20px;margin: 15px 0;color: #000;font-weight: 900;}
.j-cen5>div>div>span:hover>li{color: #7619f0;}
.j-cen5>button{width: 150px;height: 40px;font-size: 14px;border: 3px solid  #7619f0;border-radius: 40px;text-align: center;transition: all 1s ease;cursor:pointer;background: #7619f0;color: white;float: left;margin-left: 43%; }
.j-cen5>button:hover{background:rgb(14,117,245);color: white;border: 3px solid  rgb(14,117,245); }




.jc-7{width: 100%;height: 450px;background:#FBF8FF;margin-top: 100px;}
.jc-7>.jc-7l{width: 50%;height: 73%;float:left;background:#FBF8FF;padding-top: 10%;}
.jc-7>.jc-7l>a{color: #7619f0;font-size: 14px;width: 100%;font-weight:600;display: block;margin-bottom: 10px;}
.jc-7>.jc-7l>li{margin:30px auto;}
.jc-7>.jc-7l>li>span{display: block;color:rgb(100, 116, 136);;font-size: 14px;}
.jc-7>.jc-7l>.a1{color: #000;font-size: 36px;margin: 10px 0 50px 0;font-weight: 900;}
.jc-7>.jc-7l>div{width: 120px;height: 26px;padding: 11px 16px;font-size: 14px;border: 3px solid  #7619f0;border-radius: 28px;text-align: center;transition: all 1s ease;line-height: 28px;margin-top: 20px;cursor:pointer;background: #7619f0;color: white;float: left;margin-right: 30px;}
.jc-7>.jc-7l>div:hover{background:rgb(14,117,245);color: white;border: 3px solid  rgb(14,117,245); }
.jc-7>.jc-7r{width: 40%;height: 84%;float:right;padding-top: 6%;}
.jc-7>.jc-7r>span{font-size: 14px;color: #bababa;display:block;height: 53px;line-height: 53px;width: 60%;}
.jc-7>.jc-7r>span>a{color: #233142;font-size:26px;height: 53px;line-height: 53px; }
.jc-7>.jc-7r>span>a>b{font-weight: 500;border-bottom: 3px solid #7619f0;height: 50px;line-height: 53px;}
.jc-7>.jc-7r>li{background: #d6c1f5;padding: 15px 20px 13px;margin: 10px 0;width: 60%;}
.jc-7>.jc-7r>li>div{width: 24px;height: 24px;background: url(../img/xbt.png) no-repeat -528px -25px;float:left;margin-right: 5px;}
.jc-7>.jc-7r>.zd{margin: 50px 0;display: block;line-height:20px;}


.j-cen6{width: 100%;height: 650px;background:#FBF8FF;overflow: hidden;margin-top: 50px;}
.j-cen6>ul{width: 100%;height:88px;margin-top: 66px;}
.j-cen6>ul>a{width: 50%;font-size: 14px;text-align: center;display: block;color: #989898;padding-bottom: 15px;margin: 10px auto 0 auto;}
.j-cen6>ul>li{width: 100%;font-size: 36px;text-align: center;color: #000;font-weight:600;}
.j-cen6>div{width: 1167px;height: 400px;margin-top: 70px;}
.j-cen6>div>div{width: 50%;height: 100%;float: left}
.j-cen6>div>div.lx{width: 48%;padding-right: 2%;}
.j-cen6>div>div.lx>b{color: #000000;font-size: 26px;margin: 30px 0 20px 0;display: block;}
.j-cen6>div>div.lx>li{color: #647488;font-size: 16px;margin-bottom: 40px;}
.j-cen6>div>div.lx>a{color: #233142;font-size: 18px;margin-bottom: 20px;display: block;}
.j-cen6>div>div.lx>span{display: block;color: #333;font-size: 18px;margin: 5px 0;}
.j-cen6>div>div.lx>span>div.dh{width: 24px;height: 24px;background: url(../img/xbt.png) no-repeat -504px -25px;float:left;}
.j-cen6>div>div.lx>span>div.yx{width: 24px;height: 24px;background: url(../img/xbt.png) no-repeat -480px -25px;float:left;}
.j-cen6>div>div.lx>p{color: #233142;font-size: 16px;}
.j-cen6>div>.zj{width: 40%;height:90%padding: 5%;background:#fff}
.j-cen6>div>div.zj>b{color: #000000;font-size: 26px;margin: 30px 0 20px 0;display: block;}
.j-cen6>div>div.zj>li{color: #647488;font-size: 16px;margin-bottom: 40px;}
.j-cen6>div>div.zj>span{display: block;width: 100%;height: 55px;}
.j-cen6>div>div.zj>span>input{display: block;float:left;width: 49%;height: 55px;border: 0;border-bottom: 1px solid #000;outline: none;}
.j-cen6>div>div>input{display: block;width: 100%;height: 55px;margin-top: 20px;border: 0;border-bottom: 1px solid #000;outline: none;}
.j-cen6>div>div>textarea{display: block;width: 100%;height: 55px;margin-top: 20px;border: 0;border-bottom: 1px solid #000;outline: none;}
.j-cen6>div>div>button{width: 150px;height: 40px;background:#7619F0;border: 0;cursor:pointer;margin-top: 7px;color:white;}


.j-bott{width: 100%;height: 320px;background: url(../img/bg.png) no-repeat 0 0/100% 100%;margin-top: 100px;padding-top:120px;}
.j-bott>div{width:85%;height: 260px;margin: 0 auto;}
.j-bott>div>div{width: 100%;margin-bottom: 30px;}
.j-bott>div>div.bot-t{height:80%;}
.j-bott>div>div.bot-t>li.bt-l{width:426px;height: 175px;float: left;margin: 0 2px;}
.j-bott>div>div.bot-t>li.bt-l>img{width: 180px;height: 48px;display: block;}
.j-bott>div>div.bot-t>li.bt-l>a{margin: 20px 0;display: block;color: white}
.j-bott>div>div.bot-t>li.bt-l>span{width: 100%;height: 24px;display: block;}
.j-bott>div>div.bot-t>li.bt-l>span>b{display: block;float: left;width: 24px;height: 24px;margin-right: 10px;}
.j-bott>div>div.bot-t>li.bt-l>span>b.b1{background: url(../img/xbt.png) no-repeat -24px -145px;}
.j-bott>div>div.bot-t>li.bt-l>span>b.b2{background: url(../img/xbt.png) no-repeat -72px -145px;}
.j-bott>div>div.bot-t>li.bt-l>span>b.b3{background: url(../img/xbt.png) no-repeat -456px -145px;}
.j-bott>div>div.bot-t>li.bt-l>span>b.b4{background: url(../img/xbt.png) no-repeat -408px -145px;}
.j-bott>div>div.bot-t>li.bt-l>span>b.b5{background: url(../img/xbt.png) no-repeat -144px -145px;}
.j-bott>div>div.bot-t>li.bt-l>span>b.b6{background: url(../img/xbt.png) no-repeat -264px -145px;}

.j-bott>div>div.bot-t>li.bt-c{width: 203px;height: 176px;float: left;}
.j-bott>div>div.bot-t>li.bt-c>a{font-size: 16px;color: #fff;font-weight: 600;display: block;margin-bottom: 20px;}
.j-bott>div>div.bot-t>li.bt-c>b{display: block;font-size: 14px;color: white;margin: 10px 0;font-weight: 100;}

.j-bott>div>div.bot-t>li.bt-r{width: 416px;height: 177px;float:right;}
.j-bott>div>div.bot-t>li.bt-r>a{font-size: 16px;display: block;color: #fff;font-weight: 600;}
.j-bott>div>div.bot-t>li.bt-r>span{display: block;width: 100%;}
.j-bott>div>div.bot-t>li.bt-r>span>div{float: left;color: white}
.j-bott>div>div.bot-t>li.bt-r>span>div>img{display: block;margin-right: 50px;margin-top: 20px;}

.j-bott>div>div.bot-b{height:10%;text-align:center;color:#fff;font-size: 12px;}








