*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.box{width: 100%;height:auto;background: url(../img/bg.jpg) repeat-x 0 0/2px 100%;overflow: hidden;}

/* ------------------------------------头------------------------------------ */
header{width: 100%;height:450px;background: url(../img/bg2.jpg) no-repeat center 0;}
/* -----------------头上部分----------------- */
.header-top{width: 66%;height: 25%;margin: 0 auto;overflow: hidden;}
.header-top>img{display: block;height: 100%;float: left;margin-top: 10px;margin-left: 20px;}
.header-top>.search{width: 50%;height: 100%;float: right;}
.search>a{display: block;width: 100%;height: 13%;font-size: 14px;text-align: right;padding-top: 10%;color: #000000;font-weight: 500;}
.search-bottom{width: 49%;height: 50%;overflow: hidden;padding-left: 52%;padding-top: 2px;}
.search-bottom>input{display: block;float: left;color: #999;border:1px solid #ccc;font-size: 12px;}
.search-bottom>.txt{height: 25px;width: 180px;text-align: center;}
.search-bottom>.but{width: 50px;height: 25px;margin-left: 10px;font-weight: 100;}
/* -----------------头上部分完------------------*/

/* -----------------导航条----------------- */
nav{width: 66%;height: 10%;background: url(../img/nav.png) no-repeat 0 0/100%;margin: 0 auto;}
nav>li{width: 6.5%;height: 100%;float: left;margin:0 1%;text-align: center;line-height: 45px;position: relative;}
nav>li.sy{background: url(../img/nav-bg.png) no-repeat center/100% 100%;margin-left: 4%;}
nav>li:hover{background: url(../img/nav-bg.png) no-repeat center/100% 100%;}
nav>li>a{display: block;width: 100%;height: 100%;color: white;font-size: 14px;}
nav>li>ul{position: absolute;left: 0;top: 45px;background: rgba(71,110,161,.5);width: 200%;display: none;}
nav>li>ul>li{width: 70%;height: 30px;float: left;margin-right: 50%;color: white;line-height:30px ;}
nav>li>ul>li>a{width: 100%;height: 135%;color: white;display: block;}
nav>li>ul>li:hover>a{color: yellow;}
nav>li:hover>ul{display: block;}
/* -----------------导航条完----------------- */

/* -----------------大轮播图----------------- */
banner{width: 66%;height:65%;margin:0 auto;display: block;background: url(../img/banner1.jpg) no-repeat 0 0/100% 100%;}
banner>span{display: block;color: white;font-size: 50px;width: 100px;height: 150px;margin-top: 65px;line-height: 150px;text-align: center;opacity: .5;}
banner>span.ban-l{float: left;cursor:pointer;}
banner>span.ban-r{float: right;cursor:pointer;}
/* -----------------大轮播图完----------------- */


/* ------------------------------------头部完------------------------------------ */


/* ------------------------------------中部------------------------------------ */
main{width: 66%;height:360px;margin: 0 auto;}
/* --------------中部文章区块-------------- */
main>section{width: 80%;height: 100%;float: left;}
/* ---中部文章区块左边--- */
main>section>.sec-left{height:100%;width: 40%;float:left;}
.sec-left>.sec-l-t{width: 100%;height: 70%;background:url(../img/xwbg.png) no-repeat 0 0/481px 300px;overflow: hidden;}
.sec-left>.sec-l-t>img{width: 90%;height: 80%;display:block;margin: 0 auto;}
.sec-left>.sec-l-b{width: 100%;height: 30%;background:url(../img/xwbg.png) no-repeat 0 0/481px 300px;overflow: hidden;}
.sec-l-b>.zhuanti{width: 100%;height: 60%;}
.sec-l-b>.zhuanti>a{display: block;float: left;width:150px;height:32px;text-align: center;background:url(../img/zhuti-bg.jpg) no-repeat 0 0/100%;font-size: 14px;color: #0000FF;font-weight: 900;margin:5px 0 0 7px;}
.sec-l-b>.zhuanti>a.sm{font-size: 12px;color: red;}
.sec-l-b>.zhuanti>a.qt{line-height: 32px;background:url(../img/zhuti-bg.jpg) no-repeat 0 -31px/100%;}
/* ---中部文章区块左边完--- */

/* ---文章区块通用上部分--- */
.daohang{width: 95%;height:29px;margin-bottom: 5px;color:white;padding-left: 5%;line-height: 30px;font-weight: 900;}
.daohang>span{display: block;float: right;height: 100%;font-size: 14px;color:#005CC5;font-weight: 100;cursor: pointer;}
/* ---文章区块通用上部分完--- */

/* ---中部文章区块右边部分--- */
main>section>.sec-right{height:100%;width: 58%;float:left;padding:0 1%;}
.sec-right>.sec-r-t{width: 100%;height: 70%;background:url(../img/xwbg.png) no-repeat 0 0/481px 300px;overflow: hidden;}
.sec-r-t>ul{width: 100%;height: 80%;background:white;}
.sec-r-t>ul>li{width: 100%;height: 12%;margin: 0.25% 0;}
.sec-r-t>ul>li>a{font-size: 12px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-wrap: break-word;overflow:hidden;height: 100%;width: 65%;line-height: 24.19px;float: left;}
.sec-r-t>ul>li:hover>a{color:blue;}
.sec-r-t>ul>li>b{display: block;float: left;background: url(../img/newbg.gif) no-repeat 0 0;width: 25px;height: 11px;margin-top: 6.5px;}
.sec-r-t>ul>li>span{width: 20%;height: 100%;display: block;float:right;font-size: 12px;text-align: center;line-height: 24.19px;}

.sec-r-t>ul>li>i{width: 20px;height: 20px;border-radius: 10px;display: block;float: left;margin-top: 2px;}
.sec-r-t>ul>li>i.xbt1{background:url(../img/xbt.png) no-repeat 2px 3px;}
.sec-r-t>ul>li>i.xbt2{background:url(../img/xbt.png) no-repeat 2px -20px;}
.sec-r-t>ul>li>i.xbt3{background:url(../img/xbt.png) no-repeat 2px -43px;}
.sec-r-t>ul>li>i.xbt4{background:url(../img/xbt.png) no-repeat 2px -68px;}
.sec-r-t>ul>li>i.xbt5{background:url(../img/xbt.png) no-repeat 2px -91px;}
.sec-r-t>ul>li>i.xbt6{background:url(../img/xbt.png) no-repeat 2px -116px;}
.sec-r-t>ul>li>i.xbt7{background:url(../img/xbt.png) no-repeat 2px -139px;}
.sec-r-t>ul>li>i.xbt8{background:url(../img/xbt.png) no-repeat 2px -164px;}


.sec-right>.sec-r-b{width: 100%;height: 30%;background:url(../img/xwbg.png) no-repeat 0 0/481px 300px;overflow: hidden;}
.sec-r-b>ul{width: 100%;height: 70%;background:white;}
.sec-r-b>ul>li{width: 100%;height: 30%;margin: 0.25% 0;}
.sec-r-b>ul>li>a{font-size: 12px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-wrap: break-word;overflow:hidden;height: 100%;width: 65%;line-height: 24.19px;float: left;}
.sec-r-b>ul>li:hover>a{color:blue;}
.sec-r-b>ul>li>b{display: block;float: left;background: url(../img/newbg.gif) no-repeat 0 0;width: 25px;height: 11px;margin-top: 6.5px;}
.sec-r-b>ul>li>span{width: 20%;height: 100%;display: block;float:right;font-size: 12px;text-align: center;line-height: 24.19px;}

.sec-r-b>ul>li>i{width: 20px;height: 20px;border-radius: 10px;display: block;float: left;margin-top: 2px;}
.sec-r-b>ul>li>i.xbt1{background:url(../img/xbt.png) no-repeat 2px 3px;}
.sec-r-b>ul>li>i.xbt2{background:url(../img/xbt.png) no-repeat 2px -20px;}
.sec-r-b>ul>li>i.xbt3{background:url(../img/xbt.png) no-repeat 2px -43px;}
/* ---中部文章区块右边部分完--- */

/* ---中部侧边栏--- */
main>aside{width: 20%;height: 100%;float:right;background: white;}
aside>img{display: block;width: 80%;height: 8%;}
aside>ul{width: 95%;height: 78%;padding-right: 5%;overflow: hidden;}
aside>ul>li{width: 100%;height: 14.2%;text-align: center;line-height: 32.4px;}
aside>ul>li:hover{color: #005CC5;}
aside>ul>li.li1{border-top: 2px solid #002D89;margin-top: 0;}
aside>ul>li.xx1{background: url(../img/right_02.jpg) no-repeat 0 0;}
aside>ul>li.xx2{background: url(../img/right_03.jpg) no-repeat 0 0;}
aside>ul>li.xx3{background: url(../img/right_04.jpg) no-repeat 0 0;}
aside>ul>li.xx4{background: url(../img/right_05.jpg) no-repeat 0 0;}
aside>ul>li.xx5{background: url(../img/right_06.jpg) no-repeat 0 0;}
aside>ul>li.xx6{background: url(../img/right_07.jpg) no-repeat 0 0;}
aside>ul>li.xx7{background: url(../img/right_08.jpg) no-repeat 0 0;}
aside>div{width: 95%;height: 14%;padding-right: 5%;}
aside>div>select{width: 100%;display: block;}
/* ---中部侧边栏--- */

/* ------------------------------------中部完------------------------------------ */

/* ------------------------------------屁股------------------------------------ */

footer{width: 66%;height:90px;padding: 0 17.5%;background: url(../img/footer.jpg) repeat-x;margin-top: 10px;}
footer>img{float:left;margin-top: 1%;margin-right: 5px;}
footer>div{width: 75%;height: 100%;float: left;}
footer>div>a{height:20px;font-size: 12px;color: white;margin-top: 10px;display: block;float:left;margin-right: 40px;line-height: 20px;color: #000000;}
footer>div>a:hover>span{color: #005CC5;}
footer>div>a>img{display: block;float: left;}
footer>span{height: 100%;line-height: 90px;display: block;float: right;margin-right: 1%;}
footer>span>img{vertical-align: middle;}
/* ------------------------------------屁股完------------------------------------ */

/* ------------------------------------右边固定------------------------------------ */
.gd1{position:fixed;right: 10px;top: 170px;}
.gd1>img{display: block;}
.gd1>img.QQ{position: absolute;right: 30px;bottom: 0px;}

.gd2{position: fixed;right: 20px;top: 70px;width: 64px;height:300px;}
.gd2>img{display: block;}
.gd2>.gtt{width: 100%;height: 77%;background:#4689FA;border-radius: 5px;}
.gd2>.gtt>.zs{width:54px;height:54px;margin: 5px 5px;}
.gd2>.gtt>li{width: 100%;text-align: center;color: white;font-size: 12px;}
.gd2>.gtt>li>img{display: block;margin: 3px 19.5px;}
.gd2>.gtt>span{display: block;width: 80%;margin: 0 auto;text-align: center;background: rgba(0,0,0,.2);margin-top: 10px;padding: 2px;color: white;font-size: 12px;position: relative;}
.gd2>.gtt>span>img{display: block;margin: 2px 19px;}
.gd2>.gtt>span.lyb{height: 30px;line-height: 30px;}

.gd2>.gtt>span>div{width:120px;height: 120px;position: absolute;right: 65px;top:-35px;background:#3C75D5;display: none;}
.gd2>.gtt>span:hover>div{display: block;}
.gd2>.gtt>span>div>img{display: block;float: left;}
.gd2>.gtt>span>div>img.ewm{width: 110px;height: 110px;margin: 5px;}
.gd2>.gtt>span>div>img.jj{position: absolute;right: -6px;top: 55px;}
/* ------------------------------------右边固定完------------------------------------ */